@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-neutral-800;
  @apply text-zinc-300;
}

.divider {
  @apply w-full bg-zinc-800;
  height: 1px;
}

.btn {
  @apply px-3;
  @apply py-1;
  @apply rounded;
  @apply shadow;
  @apply relative;
  @apply overflow-hidden;
  min-width: 96px;

  &::before {
    display: block;
    content: '';
    opacity: 0;
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
  }

  &:hover::before {
    opacity: 0.2;
  }

  &:active::before {
    opacity: 0.4;
  }
}

.card {
  @apply rounded;
  @apply shadow;
  @apply flex;
  @apply overflow-hidden;
  &-outline {
    @apply outline;
    @apply shadow-none;
  }
}

.info_card {
  width: 320px;
  max-width: 100%;
}

.toast {
  @apply rounded;
  @apply shadow;
  @apply flex;
  @apply fixed;
  @apply top-6;
  @apply left-1/2;
  @apply -translate-x-1/2;
  @apply px-5;
  @apply py-3;
  @apply whitespace-pre-wrap;
}

.toast-enter-active,
.toast-leave-active {
  transition: 0.3s;
}

.toast-enter-from,
.toast-leave-to {
  top: 0;
}

.toast-leave-from,
.toast-enter-to {
  @apply top-6;
}

.layout {
  @apply fixed z-30;
  @apply left-0 top-0;
  @apply w-full h-full;
  @apply flex justify-center items-center;
  @apply p-4;
}

.layout-mask {
  @apply absolute;
  @apply left-0 top-0;
  @apply w-full h-full;
  @apply bg-zinc-800 opacity-70;
}

.dialog-content {
  @apply z-10;
}

.dialog-enter-active,
.dialog-leave-active {
  transition: 0.17s;
}

.dialog-enter-from,
.dialog-leave-to {
  transform: scale(0.4);
}

.dialog-leave-from,
.dialog-enter-to {
  transform: scale(1);
}
